1-中英互译/中英互译.yml
app:
  description: '中译英 Or 英译中

    给出修正答案以及句式、语法、俚语的修正意见'
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 中英互译
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1721105983723-source-1721106030090-target
      source: '1721105983723'
      sourceHandle: source
      target: '1721106030090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1721105947247-source-1727052745317-target
      source: '1721105947247'
      sourceHandle: source
      target: '1727052745317'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: if-else
      id: 1727052745317-source-1727053445301-target
      source: '1727052745317'
      sourceHandle: source
      target: '1727053445301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1727053445301-false-1721105983723-target
      source: '1727053445301'
      sourceHandle: 'false'
      target: '1721105983723'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1727053445301-true-17270563519860-target
      source: '1727053445301'
      sourceHandle: 'true'
      target: '17270563519860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 17270563519860-source-1727056487378-target
      source: '17270563519860'
      sourceHandle: source
      target: '1727056487378'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 请输入需要翻译的内容中译英/英译中
        selected: false
        title: 开始
        type: start
        variables:
        - label: content
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: content
      height: 118
      id: '1721105947247'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 中译英
        model:
          completion_params:
            temperature: 1.1
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: a1ebfcfc-b937-4842-b2e7-d861f0e257d8
          role: system
          text: '现在我要写一个将中文翻译成英文科研论文的GPT，请参照以下Prompt制作，注意都用英文生成：


            ## 角色

            你是一位科研论文审稿员，擅长写作高质量的英文科研论文。请你帮我准确且学术性地将以下中文翻译成英文，风格与英文科研论文保持一致。


            ## 规则：

            - 输入格式为 Markdown 格式，输出格式也必须保留原始 Markdown 格式

            - 以下是常见的相关术语词汇对应表（中文 -> English）：

            * 零样本 -> Zero-shot

            * 少样本 -> Few-shot


            ## 策略：


            分三步进行翻译工作，并打印每步的结果：

            1. 根据中文内容直译成英文，保持原有格式，不要遗漏任何信息

            2. 根据第一步直译的结果，指出其中存在的具体问题，要准确描述，不宜笼统的表示，也不需要增加原文不存在的内容或格式，包括不仅限于：

            - 不符合英文表达习惯，明确指出不符合的地方

            - 语句不通顺，指出位置，不需要给出修改意见，意译时修复

            - 晦涩难懂，模棱两可，不易理解，可以尝试给出解释

            3. 根据第一步直译的结果和第二步指出的问题，重新进行意译，保证内容的原意的基础上，使其更易于理解，更符合英文科研论文的表达习惯，同时保持原有的格式不变


            ## 格式

            返回格式如下，"{xxx}"表示占位符：


            ###问题

            {直译的具体问题列表}


            ### 直译

            {直译结果}


            ###意译'
        - id: c7bdc6ed-d226-4e32-97cc-a6148c14b289
          role: user
          text: '{{#1721105947247.content#}}'
        selected: false
        title: LLM-中英
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1721105983723'
      position:
        x: 1021.8113749887264
        y: 434.6363466517954
      positionAbsolute:
        x: 1021.8113749887264
        y: 434.6363466517954
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1721105983723'
          - text
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1721106030090'
      position:
        x: 1348.7252807289467
        y: 434.6363466517954
      positionAbsolute:
        x: 1348.7252807289467
        y: 434.6363466517954
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: ac21a0a2-7111-477c-8001-f9fffd68ce64
          role: system
          text: 你是一个语言专家，根据它的前10个字符，判断内容英文还是中文。如果是中文输出"中译英",如果是英文输出"英译中", 这里不需要翻译。
        - id: f09fe0dc-b0a3-4771-accc-e6531812a703
          role: user
          text: '{{#1721105947247.content#}}'
        selected: false
        title: LLM-辅助判断语言类型
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1727052745317'
      position:
        x: 378.6077429121631
        y: 282
      positionAbsolute:
        x: 378.6077429121631
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6fbafcf6-5ccc-4892-a02a-82009841b666
            value: 英译中
            varType: string
            variable_selector:
            - '1727052745317'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1727053445301'
      position:
        x: 707.0469407780838
        y: 282
      positionAbsolute:
        x: 707.0469407780838
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 英译中
        model:
          completion_params:
            temperature: 1.1
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: a1ebfcfc-b937-4842-b2e7-d861f0e257d8
          role: system
          text: '你是一位精通简体中文的专业翻译，尤其擅长将专业学术论文翻译成浅显易懂的科普文章。请你帮我将以下英文段落翻译成中文，风格与中文科普读物相似。

             

            规则：

            – 翻译时要准确传达原文的事实和背景。

            – 即使上意译也要保留原始段落格式，以及保留术语，例如 FLAC，JPEG 等。保留公司缩写，例如 Microsoft, Amazon, OpenAI
            等。

            – 人名不翻译

            – 同时要保留引用的论文，例如 [20] 这样的引用。

            – 对于 Figure 和 Table，翻译的同时保留原有格式，例如：“Figure 1: ”翻译为“图 1: ”，“Table 1: ”翻译为：“表
            1: ”。

            – 全角括号换成半角括号，并在左括号前面加半角空格，右括号后面加半角空格。

            – 输入格式为 Markdown 格式，输出格式也必须保留原始 Markdown 格式

            – 在翻译专业术语时，第一次出现时要在括号里面写上英文原文，例如：“生成式 AI (Generative AI)”，之后就可以只写中文了。

            – 以下是常见的 AI 相关术语词汇对应表（English -> 中文）：

            * Transformer -> Transformer* Token -> Token

            * LLM/Large Language Model -> 大语言模型

            * Zero-shot -> 零样本

            * Few-shot -> 少样本* AI Agent -> AI 智能体

            * AGI -> 通用人工智能

             

            策略：

            分三步进行翻译工作，并打印每步的结果：

            1. 根据英文内容直译，保持原有格式，不要遗漏任何信息

            2. 根据第一步直译的结果，指出其中存在的具体问题，要准确描述，不宜笼统的表示，也不需要增加原文不存在的内容或格式，包括不仅限于：

            – 不符合中文表达习惯，明确指出不符合的地方

            – 语句不通顺，指出位置，不需要给出修改意见，意译时修复

            – 晦涩难懂，不易理解，可以尝试给出解释

            3. 根据第一步直译的结果和第二步指出的问题，重新进行意译，保证内容的原意的基础上，使其更易于理解，更符合中文的表达习惯，同时保持原有的格式不变现在请按照上面的要求从第一行开始翻译以下内容为简体中文：


            ## 格式

            返回格式如下，"{xxx}"表示占位符：


            ###问题

            {直译的具体问题列表}


            ### 直译

            {直译结果}


            ###意译

            '
        - id: c7bdc6ed-d226-4e32-97cc-a6148c14b289
          role: user
          text: '{{#1721105947247.content#}}'
        selected: false
        title: LLM-英中
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '17270563519860'
      position:
        x: 1021.8113749887264
        y: 244.60667705375712
      positionAbsolute:
        x: 1021.8113749887264
        y: 244.60667705375712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 结束
        outputs:
        - value_selector:
          - '17270563519860'
          - text
          variable: output
        selected: false
        title: End 2
        type: end
      height: 118
      id: '1727056487378'
      position:
        x: 1348.7252807289467
        y: 244.60667705375712
      positionAbsolute:
        x: 1348.7252807289467
        y: 244.60667705375712
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 76.7751749561653
      y: 116.69781624539189
      zoom: 0.6533022346505251
